<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>
        #img_path{position:relative;}
        #A1{font-size:16px;color:purple;
            position:absolute;
            top:35px;
            left:770px;
        }
        #A2{font-size:16px;color:purple;
            position:absolute;
            top:25px;
            left:590px;
        }
        #A3{font-size:16px;color:purple;
            position:absolute;
            top:45px;
            left:448px;
        }
        #A4{font-size:16px;color:purple;
            position:absolute;
            top:45px;
            left:278px;
        }
        #A5{font-size:16px;color:purple;
            position:absolute;
            top:60px;
            left:125px;
        }

        #B1{font-size:16px;color:purple;
            position:absolute;
            top:245px;
            left:152px;
        }
        #B2{font-size:16px;color:purple;
            position:absolute;
            top:225px;
            left:343px;
        }
        #B3{font-size:16px;color:purple;
            position:absolute;
            top:225px;
            left:520px;
        }
        #B4{font-size:16px;color:purple;
            position:absolute;
            top:215px;
            left:682px;
        }
        #B5{font-size:16px;color:purple;
            position:absolute;
            top:180px;
            left:835px;
        }
    </style>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
<!--        <button id="btn1" type="button">获得外部的内容</button>-->
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">日</span>
                        <h4>车流量</h4>
                    </div>
                    <div class="ibox-content">
                        <h1 id="top1" class="no-margins">4 888,666</h1>
                        <div class="stat-percent font-bold text-success">68% <i class="fa fa-bolt"></i>
                        </div>
                        <small>日车流量</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">日</span>
                        <h5>单路口最大车流量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="top2" class="no-margins">275,800</h1>
                        <div class="stat-percent font-bold text-info">26% <i class="fa fa-level-up"></i>
                        </div>
                        <small>日单路口最大车流量</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">周</span>
                        <h5>车流量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="top3" class="no-margins">106,120</h1>
                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>
                        </div>
                        <small>周车流量</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">周</span>
                        <h5>单路口最大车流量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="top4" class="no-margins">80,600</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>
                        </div>
                        <small>周单路口最大车流量</small>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>路段实时车流量</h5>
                    </div>
                    <div class="ibox-content" th:height="30px">
                        <div class="row">
                            <div class="col-sm-8">
                                <div id="img_path">
                                    <img src="/img/traffic.jpg" alt="traffic" />
                                    <h1 id="A1">A1</h1>
                                    <h1 id="A2">A2</h1>
                                    <h1 id="A3">A3</h1>
                                    <h1 id="A4">A4</h1>
                                    <h1 id="A5">A5</h1>
                                    <h1 id="B1">B1</h1>
                                    <h1 id="B2">B2</h1>
                                    <h1 id="B3">B3</h1>
                                    <h1 id="B4">B4</h1>
                                    <h1 id="B5">B5</h1>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div id="echartDemo" style="width: 450px;height:300px;padding: 0px;margin-left: 30px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>最新抓拍记录</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>车牌号</th>
                                    <th>抓拍地点</th>
                                    <th>抓拍时间</th>
                                    <th>相机id</th>
                                </tr>
                            </thead>
                            <tbody id="bottom_table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>
      </div>
    </div>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
    
    <th:block th:include="include :: sparkline-js" />
    <script>
<!--        按钮点击更新数据-->
        var $in = 888
        $(document).ready(function () {
            $("#btn1").click(function () {
                $("#top1").html($in)
                $in = $in+1

                // 千峰老师讲解的五步Ajax请求
                // var xmlhttp = new XMLHttpRequest();
                // xmlhttp.open("GET","http://localhost/home/getDayTraffic",true);
                // xmlhttp.send();
                // xmlhttp.onreadystatechange = function () {
                //     //处理返回的结果
                //     if (xmlhttp.readyState===4) {    //请求已完成
                //         console.log("完成请求");
                //         //判断是否请求成功
                //         if (xmlhttp.status>=200 <=300 ||
                //             xmlhttp.status===304) {
                //
                //             console.log("接受到服务器返回的数据", xmlhttp.responseText);
                //         } else {
                //             console.log("没有接受到服务器返回的数据");
                //         }
                //     }
                // };


                $.get("http://localhost/home/getDayTraffic",function (result) {
                    if(result.code == 0){
                        console.log('接收到服务器数据', result.msg)
                        $("#top1").html(result.msg)
                    }else{
                        layer.msg(result.msg);
                    }
                })

            })
        })
    </script>
    <script>
        // 轮询方式更新页面部分数据
        function refreshOnTime1(){
            // $.get("http://localhost/home/getDayTraffic",function (result) {
            //     if(result.code == 0){
            //         console.log('接收到服务器数据', result.msg)
            //         $("#top1").html(result.msg)
            //     }else{
            //         layer.msg(result.msg);
            //     }
            // })
            $.ajax({
                url: "http://localhost/home/getDayTraffic",
                type : "get",
                dataType : "json",
                //data : userData,
                success : function(data){
                    $("#top1").html(data['top1'])
                    $("#top2").html(data['top2'])
                    $("#top3").html(data['top3'])
                    $("#top4").html(data['top4'])
                }
            });
        }
        //开始执行自己
        refreshOnTime1();
        setInterval(function() {
            refreshOnTime1();
        }, 10000);
    </script>
    <script>
        // 轮询方式更新页面部分数据
        function refreshOnTime2(){
            $.ajax({
                url: "http://localhost/home/getRouteTraffic2",
                type : "get",
                dataType : "json",
                //data : userData,
                success : function(data){
                    $("#A1").html(data['A1'])
                    $("#A2").html(data['A2'])
                    $("#A3").html(data['A3'])
                    $("#A4").html(data['A4'])
                    $("#A5").html(data['A5'])
                    $("#B1").html(data['B1'])
                    $("#B2").html(data['B2'])
                    $("#B3").html(data['B3'])
                    $("#B4").html(data['B4'])
                    $("#B5").html(data['B5'])
                }
            });
        }
        //开始执行自己
        refreshOnTime2();
        setInterval(function() {
            refreshOnTime2();
        }, 3000);
    </script>
    <script>
        $.ajax({
            url: "http://localhost/home/getDaySingelMax",
            type : "get",
            dataType : "json",
            //data : userData,
            success : function(data){
                console.log(data['string'])
                console.log(data['int'])
                console.log(data['boolean'])
                console.log(data['list'])
                console.log(data['null'])
            }
        });
    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echartDemo'));
        // 指定图表的配置项和数据
        myChart.setOption({
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            // toolbox: {
            //     feature: {
            //         restore: {},
            //         saveAsImage: {}
            //     }
            // },
            series: [{
                name: '实时车流量负压',
                type: 'gauge',
                detail: { formatter: '{value}%' },
                data: [{ value: 80, name: '流量压力' }]
            }]
        });

        // 轮询方式更新页面部分数据
        function refreshOnTime3(){
            $.get("http://localhost/home/getData",function (result) {
                myChart.setOption({
                    series: [{
                        data: [{value: result, name: '流量压力'}]
                    }]
                })
            })
        }
        //开始执行自己
        refreshOnTime3();
        setInterval(function() {
            refreshOnTime3();
        }, 8000);

        setInterval(function() {
            option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
            myChart.setOption(option, false);
        }, 2000);
    </script>
    <script>
        function creatTable(){
            $.ajax({
                url: "http://localhost/home/getNewRecord",
                type : "get",
                dataType : "json",
                //data : userData,
                success : function(data){
                    var records = data["records"]
                    var tableData=""
                    for(var len=0; len<records.length; len++){
                        tableData+="<tr>"
                        tableData+="<td>"+records[len]["plateNum"]+"</td>"
                        tableData+="<td>"+records[len]["recLoc"]+"</td>"
                        tableData+="<td>"+records[len]["recTime"]+"</td>"
                        tableData+="<td>"+records[len]["recCap"]+"</td>"
                        tableData+="</tr>"
                    }
                    //现在tableData已经生成好了，把他赋值给上面的tbody
                    $("#bottom_table").html(tableData)
                }
            });
        }

        creatTable()
        setInterval(function() {
            creatTable();
        }, 2000);
    </script>
</body>
</html>
